# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.vcd
*.log
*.json
SoC/SoCSource/password/__pycache__/support_lib.cpython-310.pyc
SoC/SoCSource/password/number1.png
SoC/SoCSource/password/number2.png
SoC/SoCSource/password/number3.png
SoC/SoCSource/password/number4.png
.vscode/settings.json
SoC/SoCSource/firmware/soc_firmware/c/al_pico_fw.c
SoC/SoCSource/testbench/soc_tb/al_ultra96v2_tb.vvp
SoC/SoCSource/data.txt
SoC/SoCSource/.vscode/settings.json
/SoC/SoCSource/.vscode
SoC/SoCSource/data.txt
/SoC/SoCSource/password/__pycache__
SoC/SoCSource/password/number1.png
SoC/SoCSource/password/number2.png
SoC/SoCSource/password/number3.png
SoC/SoCSource/password/number4.png
SoC/Software/FW_AlPicoSoC/src/al_ultra96v2_fw_hex_data.c
SoC/Software/FW_AlPicoSoC/src/al_ultra96v2_fw_hex_data.h
SoC/Software/FW_AlPicoSoC/src/al_ultra96v2_fw_hex_data.py
